<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.droolsTest.DroolsTestLayer.Mapper.DroolsMapper">
       <insert id="insertInvestPlan">
        insert into invest_plan (
        plan_id
        ,plan_name
        ,total_amount
        )values 
            (
            #{param.planId}
            ,#{param.planName}
            ,#{param.totalAmount}        
            )     
    </insert>
    
    <insert id="insertInvestPackage">
        insert into invest_package (
        package_id
        ,plan_id
        ,package_amount
        )values 
        <foreach collection="param" item="key" open="" close="" separator=",">
            (
            #{key.packageId}
            ,#{key.planId}
            ,#{key.packageAmount}        
            ) 
        </foreach>    
    </insert>
    
    <select id="selectInvestPackageMax" resultType="double">
        select max
        from invest_package_max 
        where package_id = #{packageId,jdbcType=VARCHAR}
    </select>
    
    <insert id="insertInvestPackageSingle">
        insert into invest_package (
        package_id
        ,plan_id
        ,package_amount
        )values 
            (
            #{param.packageId}
            ,#{param.planId}
            ,#{param.packageAmount}        
            )    
    </insert>
    
    <select id="selectInvestPlanTenantId" resultType="String">
        select tenant_id
        from invest_plan 
        where plan_id = #{planId,jdbcType=VARCHAR}
    </select>
  
</mapper>